[Unit]
Description=learn-python daemon
Requires=learn-python.socket
After=network.target

[Service]
Type=notify
# the specific user that our service will run as
User=www-data
Group=www-data
# another option for an even more restricted service is
# DynamicUser=yes
# see http://0pointer.net/blog/dynamic-users-with-systemd.html
RuntimeDirectory=learn-python
WorkingDirectory=/var/www/demoply.org/learn-python
Environment=PYTHONPATH=/opt/envs/learn-python/bin
ExecStart=/opt/envs/learn-python/bin/gunicorn --workers 5 --timeout 100 learn_python_server.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
