{% extends 'admin/change_form.html' %}
{% load i18n admin_urls %}

{% block submit_buttons_bottom %}
<div class="submit-row">
    <input type="submit" value="{% trans 'Save' %}" class="default" name="_save" />
    <button name="_build-docs" id="build-docs">{% trans 'Rebuild Docs' %}</button>
    <button name="_goto-docs" id="goto-docs" onclick="navigateToDocs(event);">{% trans 'Goto Docs' %}</button>
    <style>
        div.submit-row button {
            cursor: pointer;
            background-color: #007bff;
            border-color: #007bff;
            color: #fff;
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1;
            border-radius: .25rem;
        }

        div.submit-row button:hover {
            background-color: #0069d9;
            border-color: #0062cc;
            color: #fff;
        }
    </style>
    <script>
        function navigateToDocs(event) {
            event.preventDefault(); // This will prevent the default form action
            location.href = '{% url "course_docs" original.pk|admin_urlquote %}';
        };

        $('#build-docs').click(function (event) {
            event.preventDefault();
            const button = $(this);

            // Replace button text with a spinning wheel
            button.html('<i class="fas fa-spinner fa-spin"></i>');
            document.body.style.cursor = 'progress'; 

            // Perform the AJAX request
            $.ajax({
                url: '{% url opts|admin_urlname:"build-docs" original.pk|admin_urlquote %}',
                type: 'GET',
                success: function (data) {
                    // Handle success
                    button.text('Rebuild Docs');
                    document.body.style.cursor = 'default';
                    if (data.redirect) {
                        window.location.href = data.redirect;
                    }
                },
                error: function (error) {
                    // Handle error
                    document.body.innerHTML = error.responseText;
                    document.body.style.cursor = 'default';
                }
            });
        });
    </script>
</div>
{% endblock %}

<!-- {% block object-tools-items %}
    <li>
        <a href="{% url opts|admin_urlname:'build-docs' original.pk|admin_urlquote %}" class="historylink">Rebuild Docs</a>
    </li>
    {{ block.super }}
{% endblock %} -->
